﻿@using WebApplication1.Models
@model Employee

<h1 class="display-5">Employee Controller - Index </h1>


<div>
    Employee Id : @Model.Empno  <br />
    Employee Name : @Model.Ename  <br />
    Employee Job : @Model.Job  <br />
    Employee Salary : @Model.Salary  <br />
    Employee Deptno : @Model.Deptno   <br />
</div>


